<!DOCTYPE html>
<html>
<head>
    <title>Model Metrics</title>
</head>
<body>
<h1>Best Model: {{ best_model }}</h1>
<p>F1-score: {{ f1_score }}</p>

<h3>Основні метрики:</h3>
<ul>
    <li>Accuracy: {{ accuracy }}</li>
    <li>Precision: {{ precision }}</li>
    <li>Recall: {{ recall }}</li>
    <li>F1-score: {{ f1_score }}</li>
</ul>

<h3>Confusion Matrix:</h3>
<img src="data:image/png;base64,{{ cm_base64 }}" alt="Confusion Matrix">

<h3>All models:</h3>
<table border="1" cellpadding="5">
    <tr>
        <th>Model</th>
        <th>F1-score</th>
        <th>TN</th>
        <th>FP</th>
        <th>FN</th>
        <th>TP</th>
    </tr>
    {% for m in all_models_metrics %}
    <tr>
        <td>{{ m.name }}</td>
        <td>{{ m.f1_score }}</td>
        <td>{{ m.tn }}</td>
        <td>{{ m.fp }}</td>
        <td>{{ m.fn }}</td>
        <td>{{ m.tp }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'home' %}">Back to Home</a>

</body>
</html>
